*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #13141b;
    color: #ffffff;
    background-image: url(images/background-img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}
.text-center{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
#container{
    width: 960px;
    margin: 0 auto;
}
.form-control{
    background-color:rgb(236 178 204);
    color: white;
    padding: 15px;
    margin-left: 200px;
    width: 500px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
}
.form-control:hover{
	background-color: white;
	color: black;
}
.btn{
    border-radius: 1.5rem;
    padding: 9px 20px;
}

.btn-privious{
    background: rgba(247, 243, 243, 0.089);
    color: #ffffff;
}
.navbar-toggler {
    border: none;
}
.search-box{
    position: relative;
}
.search-btn {
    position: absolute;
    background-color: aqua;
    top: 0;
    padding: 15px;
    right: 222px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
.extra-part{
    width: 270px;
    height: 100%;
    border: 2px solid orange;
    border-radius: 15px;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 50px;
    margin-top: 20px;
}
.element-name{
    text-align: center;
}
.author{
    text-align: center;
}
.single-result{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

.single-result img{
    width: 250px;
    height: auto;
    padding: 10px;
}
#food-element img{
    width: 250px;
    height: auto;
}